[Unit]
Description=UA avatar bot
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=900
Group=pi
User=pi
WorkingDirectory=/home/pi/ua-avatar-bot
ExecStart=python src/main.py

[Install]
WantedBy=multi-user.target
